<footer class="blog-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Dev notes</h3>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </div>
      <div class="col-md-auto">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="col-md-auto">
        {% include icon-github.html username=site.github_username %}
      </div>
      <div class="col-md-auto">
        {% include icon-twitter.html username=site.twitter_username %}
      </div>
    </div>
  </div>
</footer>
